html {
    font-family: "Open Sans", sans-serif;
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;
    color: white;
  }
  header, footer {
    padding: 1em;
    margin: 0 auto;
    border-radius: 2%;
    align-items: center;
  }
  body {
    background-color: #5E5E5E;
    margin: 0 auto;
    max-width: 50%;
  }
  a {
    color: white;
  }
  a:visited {
    color: black;
  }
  main {
      text-align: center;
  }